.controller {
    background-image: url("https://raw.githubusercontent.com/game98-creator/ps5-controller-cssss/main/base%20(1).png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
